<!DOCTYPE html>
 <html>
<head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<head>
  <meta charset="utf-8">
  <title>Pluralsight Work</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
</head>

<body>
  <div class = "container">
    <div class = "jumbotron">Hello World!</div>
  </div>
  <p id="paragraph">Welcome!</p>
  <button id="oneButton">Button 1</button>
  <button id="twoButton">Button 2</button>
  <button id="threeButton">Button 3</button>
  <button id="fourButton">Button 4</button>
  <script src="./base.min.js" type="text/javascript"></script>
</body>
<script src="/js//jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</html>